<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
     <!--  if form object is send -->
    {% if form %}
    <form action="" method='POST'>
        {% csrf_token %}

        <!-- Display non-field errors -->
        {% if form.non_field_errors  %}
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
        {% endif %}

        {% for field in form %}
        {{field.label_tag}} {{field}} {{field.errors |striptags}}<br><br>
        {% endfor %}
        
        <!-- Display nfield errors -->
        {% for error in field.errors %}
        {{ error }}<br>
        {% endfor %} 

        <input type='submit' value='Submit'>
    </form> 
    {% endif %}

    <br>
    <button><a href='{% url "signup" %}'>Signup</a></button>
</body>
</html>
